<!-- posts-index -->
<div class="row mt-4">
 <div class="col-lg-6 offset-lg-3">
<h1>Posts</h1>
{{#each posts}}
<h2>{{this.title}}</h2>
<small>{{this.url}}</small>
<p>{{this.summary}}</p>

{{/each}}
</div>
</div>